@import url(file:///C:/Users/User/Documents/NIELS/Programacion%20HTML/_Project_Starter/_Project_Starter.html);

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}